<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Tool Finder</title>
    <link rel="stylesheet" href="../../static/main_page_s/style.css">
    <meta name="description" content="Discover the best AI tools for your needs. According to your prefession, we will suggest the best AI tools for you.">
    <meta name="keywords" content="AI, tools, finder, suggestions, profession">
    <meta name="author" content="AI Tool Finder Team">
</head>
<body>
    <div id="first_sec">
        <h1>AI Tool Finder</h1>
        <h6 class="first_h6">Find Best AI Tools According To Your Need And Profession</h6>
        <h6 id="free_label" class="first_h6">Try It For Free 😎</h6>
    </div>
    <div id="second_sec">

    </div>
</body>
</html>